openapi: 3.0.3
info:
  title: Apptio Technology Business Management Budgets API
  description: API for the Apptio technology business management platform, providing programmatic access to cost allocations, IT financial data, budgets, and technology investment analytics for IT finance and planning teams.
  version: 1.0.0
  contact:
    name: Apptio Developer
    url: https://developer.apptio.com
  license:
    name: Proprietary
servers:
- url: https://api.apptio.com/v1
  description: Apptio TBM API
security:
- bearerAuth: []
tags:
- name: Budgets
  description: IT budget planning and tracking
paths:
  /budgets:
    get:
      operationId: listBudgets
      summary: Apptio - List Budgets
      description: Returns a list of IT budget plans and their current spending status
      tags:
      - Budgets
      parameters:
      - name: fiscalYear
        in: query
        description: Filter by fiscal year
        schema:
          type: integer
      responses:
        '200':
          description: A list of budgets
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Budget'
              examples:
                ListBudgetsExample:
                  x-microcks-default: true
                  summary: Example budgets list
                  value:
                    data:
                    - budgetId: BUD-2026-ENG
                      name: Engineering IT Budget 2026
                      fiscalYear: 2026
                      totalBudget: 2000000.0
                      spentAmount: 375000.0
                      currency: USD
        '401':
          description: Unauthorized - invalid or missing authentication token
components:
  schemas:
    Budget:
      title: Budget
      description: An IT budget plan with spending tracking
      type: object
      properties:
        budgetId:
          type: string
          description: Unique budget identifier
        name:
          type: string
          description: Budget name
        fiscalYear:
          type: integer
          description: Fiscal year for the budget
        totalBudget:
          type: number
          description: Total budget amount
        spentAmount:
          type: number
          description: Amount spent to date
        currency:
          type: string
          description: Currency code
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
